<div class="mat-typography niggles-container">
    <h2 class="mat-h2 header">
        <span>Niggles</span>

        <button mat-raised-button color="primary" class="btn btn-primary float-right jh-create-entity create-niggle" (click)="openDialog()">Create New Niggle</button>
    </h2>
    <div class="example-container mat-elevation-z8">
        <div class="example-header float-right">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>

        <div class="table-container">


            <mat-table #table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="plantNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Number </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.plantNumber}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quattraReference">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quattra Reference </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.quattraReference}} </mat-cell>
                </ng-container>







                <ng-container matColumnDef="plantDescription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Description </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.plantDescription}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="site">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Site </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.site}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Location </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.location}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="locationUpdateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Location Update Time </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.locationUpdateTime | date}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Repair Needed </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.status}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contractor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Contractor </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.contractor}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="quattraComments">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quattra Comments </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.quattraComments}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="owner">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Hired From </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{(niggle.owner)}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateOpened">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date Opened </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.dateOpened | date}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="daysOpened">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Days Opened </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.daysOpened}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="priority">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.priority}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="createdDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.createdDate | date}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="createdBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Created By </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.createdBy}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastModifiedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date Edited </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.lastModifiedDate | date}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastModifiedBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Edited By </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.lastModifiedBy}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
                    <mat-cell *matCellDef="let niggle" (click)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()">
                        <button mat-button (click)="openDeleteDialog(niggle.id)" class="delete-button">
                            <i class="material-icons delete-icon">delete</i>
                        </button>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEditDialog(row.id)" [class.selected-row]="idOfFocusedRow === row.id"
                    class="table-row" matRipple></mat-row>
            </mat-table>
        </div>
    </div>
</div>
