<mat-toolbar color="primary" class="header">Edit plant fault</mat-toolbar>
<form [formGroup]="niggleForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <mat-form-field>
            <input matInput placeholder="Plant Number" [matAutocomplete]="auto" (blur)="handleLowerCaseInput()" formControlName="plant">
            <mat-error *ngIf="!niggleForm.get('plant').hasError('required') && niggleForm.get('plant').invalid">
                Please enter a valid plant number.
            </mat-error>
            <mat-error *ngIf="niggleForm.get('plant').hasError('required')">
                Plant number is required
            </mat-error>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPlant" autoActiveFirstOption>
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.fleetId }}
            </mat-option>
        </mat-autocomplete>
        <mat-form-field>
            <textarea matInput placeholder="Repairs Needed" formControlName="description" matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="5" cdkFocusInitial></textarea>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Created by" value="{{niggleRow.createdBy}}" disabled="true">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Created at" value="{{niggleRow.createdDate | date:'medium'}}" disabled="true">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Location updated at" value="{{niggleRow.locationUpdateTime | date:'medium'}}" disabled="true">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Priority" formControlName="priority">
                <mat-option value="LOW">LOW</mat-option>
                <mat-option value="MEDIUM">MEDIUM</mat-option>
                <mat-option value="HIGH">HIGH</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="State" formControlName="status">
                <mat-option value="SUBMITTED">SUBMITTED</mat-option>
                <mat-option value="OPEN">OPEN</mat-option>
                <mat-option value="IN_PROGRESS">IN PROGRESS</mat-option>
                <mat-option value="ON_HOLD">ON HOLD</mat-option>
                <mat-option value="WINTER_WORK">WINTER WORK</mat-option>
                <mat-option value="COMPLETED">COMPLETED</mat-option>
                <mat-option value="CLOSED">CLOSED</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Assigned To" formControlName="contractor" [compareWith]="compareObjects">
                <mat-option *ngFor="let con of maintenanceContractors" [value]="con">
                    {{ con.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Additional Note" formControlName="note"></textarea>
        </mat-form-field>
        <mat-dialog-actions class="action">
            <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_DW']" mat-raised-button type="submit" color="primary" [disabled]="!niggleForm.valid || isSaving">SAVE</button>
            <button mat-button type="button" (click)="onCancel()">Cancel</button>
            <button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_DW']" type="button" mat-button (click)="onCancel();openDeleteDialog(niggle.id)"
                (mousedown)="$event.stopPropagation()" class="delete-button">
                <i class="material-icons delete-icon">delete</i>
            </button>
        </mat-dialog-actions>
    </div>

</form>
