<mat-toolbar color="primary" class="header">Create a new plant fault</mat-toolbar>
<form [formGroup]="niggleForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <mat-form-field>
            <mat-select placeholder="Plant Number" formControlName="plant" id='plantNumber'>
                <mat-option *ngFor="let plant of plants" [value]="plant">
                    {{ plant.fleetId }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="niggleForm.get('plant').hasError('required')">
                Plant number is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Repairs Needed" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Status" formControlName="status">
                <mat-option value="OPEN">OPEN</mat-option>
                <mat-option value="IN_PROGRESS">IN PROGRESS</mat-option>
                <mat-option value="ON_HOLD">ON HOLD</mat-option>
                <mat-option value="COMPLETED">COMPLETED</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Reference" formControlName="reference">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Invoice Number" formControlName="invoiceNo">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
        </mat-form-field>
        <mat-dialog-actions class="action">
            <button mat-button type="button" (click)="onCancel()">Cancel</button>
            <button mat-raised-button type="submit" color="primary" [disabled]="!niggleForm.valid || isSaving">SAVE</button>
        </mat-dialog-actions>
    </div>

</form>
