<div class="mat-typography niggles-container">
    <div>
        <h2 class="mat-h2">
            <span>Niggles</span>
            <button mat-raised-button color="primary" class="btn btn-primary float-right jh-create-entity create-niggle" [routerLink]="['/', { outlets: { popup: ['niggle-new'] } }]">Create New Niggle</button>
        </h2>
    </div>

    <div class="example-container mat-elevation-z8">

        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="table-container">
            <mat-table #table [dataSource]="dataSource" matSort matSortActive="lastModifiedDate" matSortDirection="desc">

                <ng-container matColumnDef="priority">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.priority}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="plantNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Number </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.plantNumber}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quattraReference">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quattra Reference </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.quattraReference}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="plantDescription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Description </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.plantDescription}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="site">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Site </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.site}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Location </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.location}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="locationUpdateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Location Update Time </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.locationUpdateTime | date}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Repair Needed </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.status}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quattraComments">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quattra Comments </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.quattraComments}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateOpened">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date Opened </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.dateOpened | date}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="daysOpened">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Days Opened </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.daysOpened}} </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>
