
<div *ngIf="prestartQuestion">
    <h2><span jhiTranslate="fleetManagementApp.prestartQuestion.detail.title">Prestart Question</span> {{prestartQuestion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fleetManagementApp.prestartQuestion.body">Body</span></dt>
        <dd>
            <span>{{prestartQuestion.body}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'prestart-question/'+ prestartQuestion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
