<div class="mat-typography niggles-container">
    <h2 class="mat-h2 header">
        <span>Plant Faults</span>
        <button mat-raised-button color="primary" hidden class="btn btn-primary float-right jh-create-entity create-niggle" (click)="openDialog()">Create New Niggle</button>
        <mat-form-field class="option float-right" >
            <mat-select [(value)]="selectedOption" (change)="updateDataSource()" >
                <mat-option value="ALL">All plant faults</mat-option>
                <mat-option value="WHITE">White fleet</mat-option>
                <mat-option value="YELLOW">Yellow fleet</mat-option>
                <mat-option value="COMPLETED">Completed plant faults</mat-option>
            </mat-select>
        </mat-form-field>

    </h2>

    <div class="example-container mat-elevation-z8">

        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="table-container">
            <mat-table #table [dataSource]="dataSource" matSort matSortActive="lastModifiedDate" matSortDirection="desc">

                <ng-container matColumnDef="priorityOrder">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.priority}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="plantNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Number </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.plantNumber}} </mat-cell>
                </ng-container>

                
                <ng-container matColumnDef="orderNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Purchase Order </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.orderNo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quattraReference">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quattra Reference </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.quattraReference}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="plantDescription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Description </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.plantDescription}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="site">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Site </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.site}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Location </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.location}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="locationUpdateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Location Update Time </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.locationUpdateTime | date:'medium'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Repair Needed </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.status}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quattraComments">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quattra Comments </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.quattraComments}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateOpened">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date Opened </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.dateOpened | date}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="daysOpened">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Days Opened </mat-header-cell>
                    <mat-cell *matCellDef="let niggle"> {{niggle.daysOpened}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
                    <mat-cell *matCellDef="let niggle" (click)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()">
                        <button mat-button (click)="openDeleteDialog(niggle.id)" class="delete-button">
                            <i class="material-icons delete-icon">delete</i>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEditDialog(row.id)" [class.selected-row]="idOfFocusedRow === row.id"
                    class="table-row" matRipple></mat-row>
            </mat-table>
            <div class="footer">
                <span class="footer-count">Count : {{getCount()}}</span>
            </div>
        </div>
    </div>
</div>
